  
textarea{
	background-color:chartreuse;
	font-family:Times New Roman
	font-size:20px;
}
button{
	background-color:chartreuse;
}
h1{
	text-decoration:overline;
}
h2{
	font-size:1.5em;
	font-weight:bold;
}
h3{
	font-size:1.5em;
	font-weight:bold;
}
h4{
	font-size:1.5em;
	font-weight:bold;
}
h5{
	font-size:1.5em;
	font-weight:bold;
}
.Опрос{
	color:black;
	font-size:20px;
	height:20px;
	width:900px;
	font-weight:bold;
}
ul li{
	color:black;
	font-size:20px;
	font-weight:30px;
	background-color:chartreuse;
}
.Генетика{
	font-size:20px;
	text-align:left;
	background-color:chartreuse;
}
.Beauty{
	font-size:18px;
}
.Hair{
	font-size:18px;
}
.Food{
	font-size:18px;
}
.Hormones{
	font-size:18px;
}
.Anti-age{
	font-size:18px;
}
.Machines{
	font-size:18px;
}
.Choice{
	font-size:18px;
	text-decoration:underline;
	text-decoration-color:chartreuse;
}
.Medicine{
	font-size:18px;
}
.Opportunities{
	font-size:18px;
	text-decoration:underline;
	text-decoration-color:chartreuse;
}
.Complex{
	font-size:18px;
}
.Numbers{
	font-size:18px;
	text-decoration:underline;
	text-decoration-color:chartreuse;
}
ol li{
	color:black;
	font-size:20px;
	font-weight:bold;
}
select{
	border:3px solid chartreuse;
}
select:hover{
	border:5px solid chartreuse;
	box-shadow:3px 3px 5px chartreuse
}
